h1 {
  font-size: 50px;
  color: ##85C1E9;
  background-color: #9BA7CB;
  padding: 10px;
}

h3 {
  font-family: "Times New Roman":;
}

#helloUser {
  text-align: center;
}

.MyInfo {
  background-color: #efefef;
}
