body {
}

h1 {
  font-size: 50px;
  color: ##85C1E9;
  background-color: #9BA7CB;
  padding: 10px;
}

p {
}

div {
  padding: px;
  background-color: #849EEF;
}

h3 {
  font-family: "Times New Roman":;
}
#helloUser {
  text-align: center;

#aLittleAbout {
  text-decoration: underline;
}

}
#MyBio {
  background-color: #F5B7B1;
}

#MyEducation {
  background-color: #ABEBC6;
}

#MyExperience {
  background-color: #ABEBC6;
}

#MyGoals {
  background-color: #ABEBC6;
}
